<html>
<head />
	<body>
		<h1> Review Book Info </h1>
		<form method="post" action="{% url 'saveNewBook' %}">
			{% csrf_token %} 
			<table>
				<tr>
					<td><label for="title">Title:</label></td>
					<td><input type="text" name="title" value="{{ title }}" style="width: 500px"/></td> 
				</tr>
				<tr>
					<td><label for="isbn">ISBN:</label></td>
					<td><input type="text" name="isbn" value="{{ isbn }}" style="width: 500px"/></td> 
				</tr>
				<tr>
					<td><label for="pub_date">Publication Date:</label></td>
					<td><input type="text" name="pub_date" value="{{ pub_date }}" style="width: 500px"/></td> 
				</tr>
				<tr>
					<td><label for="page_count">Page Count:</label></td>
					<td><input type="text" name="page_count" value="{{ num_pages }}" style="width: 500px"/></td> 
				</tr>
				<tr>
					<td><label for="authors">Authors:</label></td>
					<td>
						{% for author in authors %}
							<input type="text" name="author{{ forloop.counter }}" value="{{ author }}" style="width: 500px"/><br />
						{% endfor %}
						* If the auto-adder didn't get the right number of authors, sorry. Add them in the admin panel.
					</td>
				</tr>
				<tr>
					<td><label for="image_url">Cover URL:</label></td>
					<td>
						<img src="{{image_url}}" /><br />
						<input type="text" name="image_url" value="{{image_url}}" style="width: 500px" /> * Changing this text will not update the image.
					</td>
				</tr>
			</table>
			<button type="submit">Looks good!</button>
		</form>
	</body>
</html>